<launch>
<arg name="vis" default="1"/>
<group if="$(arg vis)">
    <node name= "visualization" pkg= "virtual_blinker" type="visualization.py" output="screen" cwd="node"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find virtual_blinker)/config.rviz" />
</group>

<arg name="nr_cars" default="2"/>

<param name="car0" type="string" value="south left 90"/>
<param name="car1" type="string" value="north straight 0"/>
<param name="car2" type="string" value="west left 70"/>
<param name="car3" type="string" value="west left 50"/>

<node if="$(eval nr_cars >= 1)" name="car0" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>
<node if="$(eval nr_cars >= 2)" name="car1" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>
<node if="$(eval nr_cars >= 3)" name="car2" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>
<node if="$(eval nr_cars >= 4)" name="car3" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>


<param name="nr_cars" type="int" value="$(arg nr_cars)"/>


</launch>