<launch>
<!--
<arg name="vis" default="1"/>
<group if="$(arg vis)">
    <node name= "visualization" pkg= "virtual_blinker" type="visualization.py" output="screen" cwd="node"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find virtual_blinker)/config.rviz" />
</group> -->

<arg name="nr_cars" default="4"/>
<param name="nr_cars" type="int" value="$(arg nr_cars)"/>

<arg name="random" default="0"/>
<param name="random" type="int" value="$(arg random)"/>

<arg name="save" default="0"/>
<param name="save" type="bool" value="$(arg save)"/>

<node if="$(eval nr_cars >= 1)" name="car00" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>
<node if="$(eval nr_cars >= 2)" name="car01" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>
<node if="$(eval nr_cars >= 3)" name="car02" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>
<node if="$(eval nr_cars >= 4)" name="car03" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>

<node if="$(eval nr_cars >= 5)" name="car04" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>

<node if="$(eval nr_cars >= 6)" name="car05" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>
<node if="$(eval nr_cars >= 7)" name="car06" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>
<node if="$(eval nr_cars >= 8)" name="car07" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>
<node if="$(eval nr_cars >= 9)" name="car08" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>

<node if="$(eval nr_cars >= 10)" name="car09" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>


<node if="$(eval nr_cars >= 11)" name="car10" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>
<node if="$(eval nr_cars >= 12)" name="car11" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>
<node if="$(eval nr_cars >= 13)" name="car12" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>
<node if="$(eval nr_cars >= 14)" name="car13" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>

<node if="$(eval nr_cars >= 15)" name="car14" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>

<node if="$(eval nr_cars >= 16)" name="car15" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>
<node if="$(eval nr_cars >= 17)" name="car16" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>
<node if="$(eval nr_cars >= 18)" name="car17" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>
<node if="$(eval nr_cars >= 19)" name="car18" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>

<node if="$(eval nr_cars >= 20)" name="car19" pkg="virtual_blinker" type="sim.py" output="screen" cwd="node"/>

</launch>